<h1>Milkyway</h1>
<nav>
  <ul>
    <li>
      <a routerLink="/planet/1">Mercury</a>
    </li>
    <li>
      <a routerLink="/planet/2">Venus</a>
    </li>
    <li>
      <a routerLink="/planet/3">Earth</a>
    </li>
    <li>
      <a routerLink="/planet/4">Mars</a>
    </li>
    <li>
      <a routerLink="/planet/5">Jupiter</a>
    </li>
    <li>
      <a routerLink="/planet/6">Saturn</a>
    </li>
    <li>
      <a routerLink="/planet/7">Uranus</a>
    </li>
    <li>
      <a routerLink="/planet/8">Neptune</a>
    </li>
  </ul>
</nav>
<router-outlet></router-outlet>